<html>
<body>
<h3>Hello ${doctor.firstName} ${doctor.lastName},</h3>
<p>you have successfully registered &#128522;</p>
<br>
<p><b>Registration date:</b> ${currentDate} &#9200;</p>
<br>
<h4><b>Registration details:</b></h4>
<br>
<div>
    <p><b>First name:</b> ${doctor.firstName}</p>
    <p><b>Last name:</b> ${doctor.lastName}</p>
    #if( $doctor.speciality.size()>0 )
        <p><b>Speciality:</b> ${doctor.speciality}</p>
    #end
    <p><b>Email:</b> ${doctor.email.email}</p>
    #if( $doctor.address.size()>0 )
        <p><b>Address:</b> ${doctor.address.address}</p>
    #end
    <p><b>Phone number:</b> ${doctor.phoneNumber.phoneNumber}</p>
</div>
<br>
<br>
<span><b>Best regards,</b>
    <p>FiiPractic</p></span>
</body>
</html>